.candidate-tabs{
    .MuiTabs-indicator{
        background-color: var(--blue-1) !important;
    }
    .MuiBox-root{
        background-color: var(--text-white);
        padding-top:0px ;
    }
}