
.dashboard-container {
    display: flex;
}

.sidebar {
    width: 4%;
    background-color: var(--darker-navy-blue);
    color: var(--text-white);
    padding: 5px;
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed !important;
    z-index: 1;
    ul{
        padding: 0;
        text-align: center;
        li{
            list-style: none;
            margin-bottom: 20px;
        }
    }
}

.content {
    width: 95%;
    height: 100vh;
    margin-left: 5%;
}
