.candidate-detail-actions{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 20px;
    align-items: center;
    .user-name{
        font-size: var(--font-size-16);
        color: var(--black-2);
    }
    .btn-label{
        font-size: var(--font-size-13);
        font-weight: 600;
        @media only screen and (max-width:1024px){
            font-size: var(--font-size-11);
        }
    }
    .candi-tab-btn{
        padding: 9px 24px;
    }
}
