:root {
  --blue-1: #2570ca;
  --black-2: #343a40;
  --text-white: #fff;
  --dark-gray: #495057;
  --light-gray: #ced4da;
  --medium-gray: #868e96;
  --white-gray: #f8f9fa;
  --off-white: #f1f3f5;
  --black-1: #000;
  --light-blue: #2b53ff;
  --lighter-gray: #e9ecef;
  --darker-gray: #374151;
  --gray: #999fa7;
  --medium-gray-2: #9ca3af;
  --light-red: #fceaea;
  --light-pink: #f6c1c1;
  --bright-red: #e03131;
  --navy-blue: #1f5fac;
  --darker-navy-blue: #143e6f;
  --bright-navy-blue: #1170ca;
  --light-gray-2: #c8ccd2;
  --font-size-10: 10px;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/public/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.blue-1 {
  color: var(--blue-1);
}
.black-2 {
  color: var(--black-2);
}
.text-white {
  color: var(--text-white);
}
.cursor {
  cursor: pointer;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
}
.col-md-4 {
  flex: 0 0 auto;
  width: 31.33333333%;
}
.col-md-8 {
  flex: 0 0 auto;
  width: 64.66666667%;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 48%;
}
.col-md-12 {
  flex: 0 0 auto;
  width: 100%;
}
.mb-2 {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  appearance: none;
  background-clip: padding-box;
  background-color: var(--text-white);
  border: 1px solid var(--dark-gray);
  border-radius: 0.375rem;
  color: var(--black-2);
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  width: 100%;
}
.text-danger {
  color: var(--bright-red);
}

@media screen and (orientation: portrait) {
  @media screen and (max-width: 950px) {
    body {
      background: url("../public/images/rotate-screen.jpg") no-repeat center
        center fixed;
      height: 100vh;
      background-color: var(--black-1);

      #root {
        display: none;
      }
    }
  }
}
